<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="AutomationDemoSite">
		<classes>
			<class name="tests.FormAuthenticationTest" />
			<class name="tests.JavaScriptAlertsTest" />
			<class name="tests.DynamicLoadingEx1Test"/>
		</classes>
	</test>
</suite>
